* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  // --background: #2ca6a4;
  --background: #0070D6;
  --contrast: #48A524;
  --tertiary: #961ED9;

}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.50%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: 0.2s;
}