.headerList {
    height: 30px;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;

        li{
            font-size: 0.9rem;
            color: var(--white);
            transition: 0.2s;
            list-style-type: none;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .ItemAllDepartaments {
            font-weight: bold;
            font-size: 1rem;
        }
    }
}